@model AppointmentViewModel

<html>
<head>
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }

        h1 {
            margin-bottom: 40px;
        }

        label {
            color: #333;
        }

        .btn-send {
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            width: 80%;
            margin-left: 3px;
        }

        .help-block.with-errors {
            color: #ff5050;
            margin-top: 5px;
        }

        .card {
            margin-left: 10px;
            margin-right: 10px;
        }

    </style>
</head>
<body>
    <div class="container">

        <div class=" text-center mt-5 ">

            <h1>Randevu Formu</h1>

        </div>

        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">

                        <div class="container">
                            <form id="contact-form" role="form">
                                <div class="controls">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="currentUserID">TC :</label>
                                                    <input asp-for="currentUserID" type="text" class="form-control" readonly value="@ViewBag.UserId">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label name="policlinicName" asp-for="policlinicName" for="policlinicName">Poliklinik:</label>
                                                <select id="policlinicName" name="policlinicName" asp-for="policlinicName" class="form-control" onchange="getDoctors()">
                                                    @foreach (var policlinic in ViewBag.policlinicList)
                                                    {
                                                        <option value="@policlinic.Value">@policlinic.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="dateTime" class="control-label"></label>
                                                <input id="dateTime" type="datetime-local" datetime-local"" name="dateTime" class="form-control" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label name="selectedDoctorName" asp-for="selectedDoctorName" for="selectedDoctorName">Doktor:</label>
                                                <select id="selectedDoctorName" name="selectedDoctorName" asp-for="selectedDoctorName" class="form-control">
                                                    @foreach (var selectedDoctorName in ViewBag.selectedDoctorNameList)
                                                    {
                                                        <option value="@selectedDoctorName.Value">@selectedDoctorName.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getDoctors() {
            var selectedPoliclinicId = document.getElementById("policlinicName").value;

            // AJAX isteği ile sunucuya seçilen poliklinik ID'yi gönderin
            // ve dönen doktorları kullanarak sayfayı güncelleyin.
            $.ajax({
                type: "POST",
                url: "/Appointment/GetDoctorsByPoliclinic",
                data: { policlinicID: selectedPoliclinicId },
                success: function (data) {
                    // Başarılı cevap geldiğinde, doktorları seçim kutusuna ekleyin.
                    var doctorSelect = document.getElementById("selectedDoctorName");
                    doctorSelect.innerHTML = "";

                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement("option");
                        option.text = data[i];
                        option.value = data[i];
                        doctorSelect.add(option);
                    }
                },
                error: function (error) {
                    console.error("Hata oluştu: ", error);
                }
            });
        }
    </script>
    <</body>>


</html>
