@model AppointmentViewModel

<html>
<head>
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }

        h1 {
            margin-bottom: 40px;
        }

        label {
            color: #333;
        }

        .btn-send {
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            width: 80%;
            margin-left: 3px;
        }

        .help-block.with-errors {
            color: #ff5050;
            margin-top: 5px;
        }

        .card {
            margin-left: 10px;
            margin-right: 10px;
        }

    </style>
</head>
<body>
    <div class="container">

        <div class=" text-center mt-5 ">

            <h1>Randevu Formu</h1>

        </div>

        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">

                        <div class="container">
                            <form id="contact-form" asp-action="Create" asp-controller="Appointment" method="post">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="currentUserID">TC :</label>
                                                    <input asp-for="currentUserID" type="text" class="form-control" readonly value="@ViewBag.UserId">

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label name="policlinicID" asp-for="policlinicID" for="policlinicID">Poliklinik:</label>
                                                <select id="policlinicID" name="policlinicID" asp-for="policlinicID" class="form-control" onchange="getDoctors()">
                                                    <option value="">Seçiniz...</option>

                                                    @foreach (var policlinic in ViewBag.policlinicList)
                                                    {
                                                        <option value="@policlinic.Value">@policlinic.Text</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="policlinicID" class="text-danger small"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label name="selecktedDoctorID" asp-for="selecktedDoctorID" for="selecktedDoctorID">Doktor:</label>
                                                <select name="selecktedDoctorID" asp-for="selecktedDoctorID" id="selecktedDoctorID" class="form-control">
                                                    <option value="">Seçiniz...</option>
                                                    @foreach (var doctor in ViewBag.selectedDoctorNameList)
                                                    {
                                                        <option value="@doctor.Value">@doctor.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Date"></label>
                                                <input asp-for="Date" type="date" class="form-control" />
                                                <span asp-validation-for="Date" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Time"></label>
                                                <input asp-for="Time" type="time" class="form-control" />
                                                <span asp-validation-for="Time" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group d-grid mb-3">
                                        <button type="submit" class="btn btn-primary d-block mt-4"><i class="fa-solid fa-paper-plane me-2"></i>Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getDoctors() {
            var selectedPoliclinicId = document.getElementById("policlinicID").value;

            // AJAX isteği ile sunucuya seçilen poliklinik ID'yi gönderin
            // ve dönen doktorları kullanarak sayfayı güncelleyin.
            $.ajax({
                type: "POST",
                url: "/Appointment/GetDoctorsByPoliclinic",
                data: { policlinicID: selectedPoliclinicId },
                success: function (data) {
                    // Başarılı cevap geldiğinde, doktorları seçim kutusuna ekleyin.
                    var doctorSelect = document.getElementById("selecktedDoctorID");
                    doctorSelect.innerHTML = "";

                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement("option");
                        option.text = data[i].name; // Kullanıcıya gösterilen değer name, value değeri ise Id olacak
                        option.value = data[i].id; // Burada value'a doktorun ID'sini atmalısınız.
                        doctorSelect.add(option);
                    }
                },
                error: function (error) {
                    console.error("Hata oluştu: ", error);
                }
            });
        }
    </script>
</body>


</html>


