@model IEnumerable<Hospital_reservation_system.Models.AppointmentViewModel>

<!doctype html>
<html lang="en">
<head>
	<title>DOKTORLAR</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="~/css/tablo/style.css" rel="stylesheet" />

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-1">
					<h2 class="heading-section">RANDEVULARIM</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th>User ID</th>
									<th>Selected Doctor ID</th>
									<th>Policlinic ID</th>
									<th>Date</th>
									<th>Time</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								@foreach (AppointmentViewModel randevu in Model)
								{
									<tr class="alert" role="alert">
										<td>@randevu.currentUserID</td>
										<td>@randevu.selecktedDoctorID</td>
										<td>@randevu.policlinicID</td>
										<td>@randevu.Date</td>
										<td>@randevu.Time</td>
										<td>
											<a asp-controller="" asp-action="" asp-route-id="">
												<span aria-hidden="true"><i class="fa fa-close"></i></span>
											</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="~/js/tablo/jquery.min.js"></script>
	<script src="~/js/tablo/popper.js"></script>
	<script src="~/js/tablo/bootstrap.min.js"></script>
	<script src="~/js/tablo/main.js"></script>

</body>
</html>



